<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<h1><%= message %></h1>

<p>Welcome to <%= title %></p>

<p><a href="/auth/steam"><img src="/images/sits_small.png"></a></p>
</body>
</html>
